.ibz_rot {color:var(--ibz_rot)}
.ibz_schwarz {color:var(--ibz_schwarz)}
.ibz_weiss {color:var(--ibz_weiss)}

:root {
  --ibz_rot:#e81000c;
  --ibz_schwarz:#333;
  --ibz_weiss:#fff;
}
.center {align:0 auto;}
.width {width:100%}
